* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cookie', cursive;
font-family: 'Handlee', cursive;
font-family: 'Hubballi', cursive;
font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Satisfy', cursive;}

@media screen and (min-width:768px) {
    /* Menu de navegacion */
    .container-fluid{
        background-color: white;
        
}
    
    .navbar { color: black;
    
        .img-logo{
            width: 100px;
            height: 100px;
        }}
    
        .nav-item{
            font-size: 20px;
        }

        ul{ margin-left: 200px;
            li a{
                background-color: white;
                color:deeppink;
                padding:15px;
                text-decoration: none;
                border-radius: 30px;
                font-size: 20px;
                margin: 0 20px;

                &:hover{background-color:lightpink;
                color:black;
                padding:15px;
                text-decoration: none;
                border-radius: 30px;
                font-size: 25px;
                margin: 0 20px;}
            }
        }

    
    

    .titulo{
        background-image: url(../imágenes/fondoalfajores.jpg);
        width: 100%;
        height: auto;

        .titulo-h1{
            font-size: 50px;
        color: brown;
        text-align: center;
        }
    
        .titulo-h2{
            font-size: 35px;
        color: brown;
        text-align: center;
        }
    }

  
.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
/* explicacion del emprendimiento */
    .presentacion{
        .p1{
        padding: 10px;
        margin-left: 10px; 
        color: brown;
        font-weight: 400;
        font-size: 25px;
        padding-top: 20px; 
        margin-top: 10px; 
        width: 100%;
        max-width: 800px;
        margin: auto;
        position: relative;
        }
    
        .p2{
        padding: 10px;
        margin-left: 10px;
        color: brown;
        font-weight: 400;
        display:block;
        width: 100%;
        max-width: 800px;
        margin: auto;
        font-size: 25px;
        }
    }

   
}




/* seccion de novedades */ 
/* titulo:novedades */


.card-text{
    text-align: center;
    font-size: 20px;
    color: black;
    
  
}

/* imagenes de novedades */
    .card-nov img{
        width: 300px;
        height: 250px;
        margin-left: 40px;
      

    }
/* alineacion  y color
del texto de cards */
    .card-body{
        text-align: center;
        background-color: lightpink;
        padding: 20px;
        width: 300px;
        margin-left: 40px;
        
    }

    /* boton de img */
.btn{
    background-color: white;
    color:crimson;
}
/* titulo-presentacion de novedades */
section .titulo-novedades {
    font-size: 40px;
    text-align: center;
    color:white;
    padding: 20px;
    margin:30px;
    background-color:burlywood;}

/* redes sociales */


.titulo-redes p {
    font-size: 40px;
    color:brown;
    display: inline-block;
    margin:20px;
    margin-top: 40px;
    
}

/* logo de instagram y facebook */
.redes img {
    width: 50px;
    height: 50px;
    margin: 20px;
    display:block;
    
    
}

/* pie de pagina */

footer{
    display: flex;
    justify-content:space-around;
    background-color:darkgray;
    padding: 20px;

    .pago{ display: flex;
        align-items: center;
        
        
        h3{
            font-size: 20px;
            color: black;
        }
    
        img{
            width: 80px;
            height: auto;
        
        }
    }
    .paginas a{
        display: block;
        display: inline-block;
        text-decoration: none;
        color: black;
        font-size: 20px;
        padding: 10px;
    
    
    }

    

}

    /* titulo principal  */
.Titulo-pro{
      color:black;
      text-align: center;
      
}

.productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr;
    gap: 3px;
    padding: 20px;
    margin-left: 50px;
    
/* imagen de los productos */
    div img{width: 200px;
            height: 200px;
            border-radius: 30px;
            margin-left: 30px; 
        

        }
/* nombre de los productos */
       div p{
        font-size:40px ;
        color: white;
        flex-direction:row;
        justify-content: center; 
        text-align: center;
        } 
}


/* servicios */





/* titulo de servicios */
.card-title{
    font-size: 25px;
    text-align: center;
    font-weight: 30;
    color:crimson;}
    

/* posicion de las img de servicios */
/* borde de card */
.card {border: solid black 3px;
   

    .desayuno{
        width: 330px;
        height: 250px;
    }
    .mesa{
        width: 330px;
        height: 250px;
    }
     
    .vianda{
        width: 330px;
        height: 250px;
    }
    
    
}

/* contenedor de las card */
.card-body2{
    width: 300px;
    height: 400px;
    text-align: center;
    margin-left: 25px;

}


/* titulo principal */
.n-ser h1{
    font-size: 40px;
    color:brown;
    text-align: center;
    background-color: lightcyan;
}
/* Especiales */

/* titulo principal  */
.m-esp{
color:white;
background-color: black;
text-align: center;
font-size: 45px;
}
    

/* explicacion de las propuestas
"especiales" */

.especiales p {
    font-size: 30px;
    color:brown;
    text-align: center;
    font-weight: 400;
    padding: 20px;
    margin: 30px;
   
    
}
 /* contenedor de las imagenes*/
 .imagenes-especiales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;

    /* imagenes */
       div img{
            display: flex;
            justify-content: center;
            width: 350px;
            height: 350px;
            border-radius: 50px;
            margin:5px;
            margin-left: 70px;
            border: solid 3px black;
        }
    
       
    }

    /* organizacion de las imagenes */
    .galeria{
        display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
            grid-template-rows: 1fr   ;
            overflow: scroll;
            height: 300px;
            gap: 7px;
            padding: 10px;

    

        img{
        
            width: 200px;
            height: 200px; 
            border: solid 4px black;
            margin-top: 10px;
            margin-left: 10px;
            &:hover{
                transform: scale(1.2);
                transition: all 1s;
    
             }
            
           
        }

        }
    
    

 /* titulo de las imagenes */
 .text-pas, .text-fi, .text-ma, .text-vi{
    display: block;
    background-color: peachpuff;
    color: black;
    font-size: 30px;
    font-weight: 40;
    text-align: center;
}
/* formulario */
/* organización de la pagina */
.completar{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    
}
/* texto explicativo del formulario */

.pedido-formulario {
    background-image: url(../imágenes/fondo.jpg);
    border-radius: 30px;
    width: 500px;
    height: 800px;
    padding-left: 20px;
    margin-left: 10px;
    h2{  font-size: 25px;
        color:brown;
        position: relative;
        left: 10px;

    }

    h1{
        font-size: 30px;
        color:brown;
        position: relative;
        left: 10px;
        margin:10px;
        padding: 30px;
    }
}
/* formulario a completar */
.formulario{
    font-size: 20px;
    color:brown;
    padding: 30px;
    margin: 20px;
    background-color:white;
    border-radius: 30px;
    border: solid 5px black;

}
/* botones de envio y borrar todo */
.envio{
    margin-top: 50px;
    
        .enviar{
            padding: 8px;
            background-color: lightsalmon;
        }
        .borrar{
            padding: 8px;
            background-color: aquamarine;
        }


    }

    
  .comen{
      font-size: 15px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }  

/* input de correo, nombre y pass */
        .input-nombre{
            display:inline-block;
            padding: 15px;
            position: relative;
            width: 400px;
            margin-top: 5px;
    
            
             & :focus {
            transform: translate(50px);
            transition: all 1s;
            width: 200px;
            height: 50px;
            background-color:darkgray;
            }

            .nombre{
                margin-left: 10px;
            }
        }


    


/* correo */
.input-email{
 
    padding: 15px;
   display: inline-block;
   position: relative;
   width: 400px;
   margin-top: 5px;
   
   
   .email{
    margin-left: 22px;
}
}
/* password */
.input-pass{
    display: inline-block;
    padding: 20px;
    margin-top: 5px;
    width: 400px;
    margin-bottom: 20px;
}
/* organizacion de logos */

.correo{
    display: block;
    
    img{
        width: 150px;
    height: 150px;
    border-radius: 50px;
    margin: 50px;

    }}


/* logo de whatsapp */
.what{
    position:sticky;
    bottom: 0;
    margin-left: 1200px;
    

    img{
        width: 120px;
        height: auto;
    }
}


.conocer{
    display: inline-block;
}



}




