
@import "mobile";

@import "desktop";

/* maps */

/* items de formulario */

$formulario:(
    nombre:bisque,
    email: lightpink,
    pass:bisque
);

@each $nombre, $valor in $formulario {
    .input-#{$nombre}{
        background-color:$valor;
    }
    
}

/*extend  */

.titulo-2{
    font-size: 50px;
    color: brown;
    text-align: center;
    
}
   
.titulo-h1{
    @extend .titulo-2;
    padding: 10px;
    margin-top: 10px;
}

.titulo-h2{
    @extend .titulo-2;
    font-size: 30px;
}

/* mixin */

@mixin productos-2 ($bg){
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg;


}

.budines{
    @include productos-2 (rgb(247, 194, 194));
}
.tartas{
    @include productos-2 (burlywood);
}

.tortas{
    @include productos-2 (rgb(247, 194, 194));
}

.galletas{
    @include productos-2 (burlywood);
}

.alfajores{
    @include productos-2 (rgb(247, 194, 194));
}
